<%= turbo_stream.append "friends" do %>
  <%= render @friends %>

  <% if @friends.page(@page.to_i + 1).out_of_range? %>
    <span class="hidden" data-pagination-target="lastPage"></span>
  <% end %>
<% end %>
