<div class="container-sm">
<h1>Edit Time Sheet For User <%=@timesheet.user.username%></h1>

 <% if @timesheet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@timesheet.errors.count, "error") %></h2>
      <ul>
        <% @timesheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= render 'form', timesheet: @timesheet,url: timesheet_path(@timesheet),method: :put %>

</div>
