.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  .next,
  .prev {
    border: 1px solid $blue;
  }

  .disabled {
    background-color: rgba(49, 130, 156, 0.2);
    border: unset;
  }

  .btn-action {
    border-radius: 4px;
    padding: 5px 10px;
    height: 29px;
    width: auto;

    .page-link {
      color: $blue;
    }
  }

  .page-item {
    margin: 0 4px;

    &.active {
      .page-link {
        background: none;
        border-color: unset;
        color: $blue;
        text-decoration: underline;
      }
    }
  }

  .page-link {
    min-width: 1rem;
    color: $black;
    --tblr-pagination-focus-box-shadow: 0 !important;
  }
}
